# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/libs/shared/ui/node_modules
#package-lock.json
#yarn.lock
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/apps/2021-app/.next
/apps/2023-app/.next
/out/
/dist/

# production
/build

/docs/2021
/docs/2023
!/docs/.gitkeep

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# ENV
.env

.idea

/.swc
/apps/2021-app/.swc
/apps/2023-app/.swc

# remove service workers, will be present when running `npm run build`.
apps/2023-app/public/*.js
apps/2023-app/public/*.js.map
apps/2023-app/public/sitemap.xml

#apps/2023-app/public/og/*.jpg
#!apps/2023-app/public/og/top.jpg

apps/2021-app/public/*.js
apps/2021-app/public/*.js.map
apps/2021-app/public/sitemap.xml

#apps/2021-app/public/og/*.jpg
#!apps/2021-app/public/og/top.jpg
