.switch input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.switch {
  position: relative;
  width: 45px;
  height: 22px;

  label {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 45px;
    height: 22px;
    background-color: #d3d3d3;
    border-radius: 46px;
    transition: 0.4s;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 22px;
      height: 22px;
      content: '';
      background-color: #fefefe;
      border-radius: 100%;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      transition: 0.4s;
    }
  }
}

.switch input:checked + label {
  background-color: #0084cf;

  &::after {
    left: 24px;
  }
}
