.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 640px;
  padding: 20px 0;
  margin-top: 16px;
}

.player h2 {
  width: 100%;
  padding-top: min(1.6vw, 22px);
  font-family: 'UD新ゴ B', sans-serif;
  font-size: min(1.8vw, 20px);
  color: #f52828;
  text-align: center;
  border-radius: min(0.4vw, 5px);
}

.player p {
  width: 100%;
  padding: 0;
  font-family: 'UD新ゴ B', sans-serif;
  font-size: min(1.6vw, 18px);
  text-align: center;
  border-radius: min(0.4vw, 5px);
}

@media (max-width: 600px) {
  .player {
    position: relative;
    max-width: 100%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
