.popover_wrapper {
  position: relative;
}

.popover_title {
  position: relative;
  padding: 15px 0;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: transparent;
  border: none;

  svg {
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }
}

.popover_content {
  position: absolute;
  left: 0;
  z-index: 1001;
  width: auto;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transform: translate(0, 10px);

  h4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  h6 {
    padding-left: 0.8rem;
    border-left: solid 5px rgba(0, 122, 204, 1);
  }

  h6::before,
  h6::after {
    background:
      linear-gradient(
        22deg,
        rgba(0, 152, 255, 1),
        rgba(0, 122, 204, 1),
        rgba(0, 101, 169, 1)
      );
  }

  p {
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  .align_right {
    text-align: right;
  }

  @media (max-width: 600px) {
    width: 320px;
  }
}
