.popover_wrapper {
  position: relative;
}

.popover_content {
  position: absolute;
  left: 0;
  z-index: 1001;
  width: 400px;
  padding: 1.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transform: translate(0, 10px);

  h4 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  h6 {
    padding-left: 0.8rem;
    border-left: solid 5px rgba(0, 122, 204, 1);
  }

  h6::before,
  h6::after {
    background:
      linear-gradient(
        22deg,
        rgba(0, 152, 255, 1),
        rgba(0, 122, 204, 1),
        rgba(0, 101, 169, 1)
      );
  }

  p {
    margin: 0;
    line-height: 1;
  }

  .align_right {
    text-align: right;
  }

  @media (max-width: 600px) {
    width: 320px;
  }
}
