.social_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;

  a {
    margin: 0 8px;

    @media (max-width: 600px) {
      margin: 8px 0;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.social_annotation {
  width: 100%;
  padding: min(1.6vw, 22px) 0;
  font-family: 'UD新ゴ B', sans-serif;
  font-size: min(1.6vw, 20px);
  text-align: center;
  border-radius: min(0.4vw, 5px);
}
