name: Node.js CI

on:
  #  push:
  #    branches:
  #      - main
  pull_request:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'

      # Not working
      # - uses: nrwl/nx-set-shas@v3

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: _cache_npm_node16
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Lint
        run: |
          yarn
          npx nx run 2021-app:lint
          npx nx run 2023-app:lint
        env:
          CI: true
